test-classes/*
.gradle/*

build/*

gwt-unitCache/*
war/WEB-INF/lib/.DS_Store

out.txt

tmpOutput.txt

.DS_Store

war/com.kissaki.MessengerGWT.JUnit/com.kissaki.MessengerGWT.JUnit.nocache.js

war/WEB-INF/classes/*
war/WEB-INF/classes/com/kissaki/client/MessengerGWTCore/MessageCenter/MessageMasterHub.class

war/WEB-INF/classes/com/kissaki/client/MessengerGWTCore/MessengerGWTImplement.class

war/WEB-INF/classes/com/kissaki/client/Foo.class

war/WEB-INF/classes/com/kissaki/MessengerGWT.gwt.xml

test-classes/*
test-classes/com/kissaki/client/ReceiverClass.class

changedDeaultTarget/gwt-unitCache/*

changedDeaultTarget/www-test/WEB-INF/*

changedDeaultTarget/www-test/com.kissaki.MessengerGWT.JUnit/*
