test-classes/com/kissaki/client/MessengerGWTImplementTest$10.class
test-classes/com/kissaki/client/MessengerGWTImplementTest$11.class
test-classes/com/kissaki/client/MessengerGWTImplementTest$12.class
test-classes/com/kissaki/client/MessengerGWTImplementTest$13.class
test-classes/com/kissaki/client/MessengerGWTImplementTest$8.class
test-classes/com/kissaki/client/MessengerGWTImplementTest$9.class